.bg-white {
  background-color: #000 !important;
}

#page-my-index {
  background-color: #535353 !important;$
}

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
  background-color: black;
}

.d-inline {
  display: inline !important;
  color: white;
}

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: white;
}

a.bg-gray:hover, a.bg-gray:focus, button.bg-gray:hover, button.bg-gray:focus {
  background-color: #b40000 !important;
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.6);
}

.d-md-inline {
  display: inline !important;
  color: white;
}

#region-main {
  overflow-x: auto;
  overflow-y: visible;
  background-color: #000;
}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
  background-color: #535353;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  background-color: #535353;
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
  background-color: black;
  color: white;
}

.bg-gray {
  background-color: #f00 !important;
}

[data-region="drawer"] {
  position: fixed;
  width: 285px;
  top: 50px;
  height: calc(100% - 50px);
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 999;
  background-color: #2d2727;
  -webkit-transition: right .5s ease,left .5s ease;
  -moz-transition: right .5s ease,left .5s ease;
  -o-transition: right .5s ease,left .5s ease;
  transition: right .5s ease,left .5s ease;
}
*, ::before, ::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.list-group-item-action:hover, .list-group-item-action:focus {
  z-index: 1;
  color: #495057;
  text-decoration: none;
  background-color: #ce1d1d;
}

.list-group-item {
  position: relative;
  display: block;
  padding: .75rem 1.25rem;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.125);
  background-color: #535353;
  color: white;
}

.list-group-item-action:hover, .list-group-item-action:focus {
  z-index: 1;
  color: #000;
  text-decoration: none;
  background-color: #ce1d1d;
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
  color: rgba(255, 20, 20, 0.9);
}
